/* colors used:
primary:
white (background, button text) : #ffffff;
black (text, button text): #2f2f2f;
grey (dividers): #f0f0f0;
blue (hero background, footer background): #2d3e50;

secondary:
yellow (button background): #ffdb5a;
hover over nav links: #008dd5;
hover over buttons : #ffd027;
*/
/* typography used:
primary:
h3,h4,h5,p,ul,ol,caption,buttons : Lato;

secondary:
h1,h2: Raleway;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #2f2f2f;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  color: #2f2f2f;
  text-align: center;
}

#index #hero h1 {
  color: #ffffff;
}

#impressum h1 {
  text-align: left;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  color: #2f2f2f;
  text-align: center;
}

footer h2 {
  color: #ffffff;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  color: #2f2f2f;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #2f2f2f;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: #2f2f2f;
}

.project-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: #2f2f2f;
  text-decoration: none;
}

a:visited {
  color: #2f2f2f;
}

a:hover,
a:focus {
  color: #008dd5;
}

a:active {
  color: #2d3e50;
}

.button-project,
.button-testing,
.button-prototype {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #ffdb5a;
  padding: 8px 12px;
  border: 1px solid #ffdb5a;
  border-radius: 12px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.button-project:hover,
.button-project:focus,
.button-testing:hover,
.button-testing:focus,
.button-prototype:hover,
.button-prototype:focus {
  color: #2f2f2f;
  background-color: #ffd027;
  box-shadow: 2px 4px 12px 0px rgba(47, 47, 47, 0.3);
}

.button-project:active,
.button-testing:active,
.button-prototype:active {
  color: #2f2f2f;
}

.button-testing {
  margin: 10px 10px 10px 0;
  display: inline-block;
}

.button-prototype {
  display: inline-block;
}

.button-contact {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #2d3e50;
  padding: 8px 12px;
  border: 1px solid #ffdb5a;
  border-radius: 12px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.button-contact:hover,
.button-contact:focus {
  color: #2f2f2f;
  background-color: #ffd027;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.5);
}

.button-contact:active {
  color: #2f2f2f;
  background-color: #ffdb5a;
}

.button-cv {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2f2f2f;
  background-color: #ffdb5a;
  padding: 8px 12px;
  border: 1px solid #ffdb5a;
  border-radius: 12px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.button-cv:hover,
.button-cv:focus {
  color: #2f2f2f;
  background-color: #ffd027;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.3);
}

.button-cv:active {
  color: #2f2f2f;
}

img {
  width: 100%;
}

/*Layout styling*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

main {
  padding-top: 138px;
}

.logo {
  max-width: 40px;
}

.wrapper-logo {
  text-align: center;
  padding-top: 15px;
}

header {
  background-color: #2d3e50;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 4px 8px 0px rgba(47, 47, 47, 0.3);
  position: fixed;
  display: inline-block;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  color: #ffffff;
  padding: 0 15px;
  text-transform: uppercase;
}

nav>ul>li>a:visited {
  color: #ffffff;
}

nav>ul>li>a:hover {
  color: #ffdb5a;
}

nav>ul>li>a:active {
  color: #ffdb5a;
  text-decoration: underline;
}

#hero {
  background-color: #2d3e50;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  margin: 30px 0;
}

#work .row {
  padding-bottom: 10px;
  margin: 30px 0;
}

footer {
  background-color: #2d3e50;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

footer ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  padding: 0 15px;
}

footer a:visited {
  color: #ffffff;
}

footer a:hover,
footer a:focus {
  color: #ffdb5a;
}

footer a:active {
  color: #ffdb5a;
  text-decoration: underline;
}

.icons {
  padding: 5px 0;
}

.fab {
  color: #ffffff;
  font-size: 25px;
  max-width: 40px;
}

.center {
  text-align: center;
}

#contact .center {
  padding: 10px 0;
}

#about #hero {
  background-color: #ffffff;
  padding: 10px 0;
}

#about #hero .container {
  display: inline-block;
  width: 100%;
}

#expert .container {
  display: inline-block;
  width: 100%;
}

#expert #hero {
  background-color: #ffffff;
  padding: 0;
}

.container-hero {
  background-color: #ffffff;
  padding: 0;
}

.divider {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px 0;
  margin: 15px 0;
}

.image {
  margin: 15px 0;
}

.prototype {
  padding-top: 10px;
  padding-bottom: 20px;
}

#worldup .container {
  display: inline-block;
  width: 100%;
}

#worldup #hero {
  background-color: #ffffff;
  padding: 0;
}

.wrapper-learnings {
  margin-bottom: 40px;
}

ul li {
  padding: 4px 0;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol>li {
  display: table;
  counter-increment: item;
  margin-bottom: 4px;
}

ol>li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 4px;
}

/*Layout styling End*/
#impressum-content {
  margin-top: 30px;
  margin-bottom: 20px;
}

.impressum {
  color: #ffffff;
}

.impressum:visited {
  color: #ffffff;
}

.impressum:hover,
.impressum:focus {
  color: #ffdb5a;
}

.impressum:active {
  color: #ffdb5a;
  text-decoration: underline;
}

/* medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  #index h3 {
    margin: 0;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  header {
    text-align: unset;
    padding: 5px 0;
  }

  header .container {
    display: block;
  }

  #expert header .container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }

  #worldup header .container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }

  .wrapper-logo {
    display: inline-block;
    text-align: center;
    padding-top: unset;
    margin: 15px 0 0 15px;
    float: left;
    width: 40px;
    height: 40px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 2px;
  }

  main {
    padding-top: 84px;
  }

  #hero span {
    display: block;
    font-size: 28px;
  }

  .col-md-6 {
    padding: 0 15px;
    width: 50%;
    float: left;
    display: table;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  #work .row {
    margin: 40px 0;
  }

  #work img {
    max-width: 480px;
  }

  #about-me h3 {
    margin-top: 0;
  }

  #about-me img {
    max-width: 400px;
  }

  .selfie {
    text-align: center;
  }

  #about-me .skills {
    margin-top: 40px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  #expert .container {
    display: block;
    max-width: 840px;
    margin: 0 auto;
  }

  .image {
    margin: 20px 0;
  }

  .divider {
    margin: 20px 0;
  }

  #worldup .container {
    display: block;
    max-width: 840px;
    margin: 0 auto;
  }

  #impressum-content .container {
    display: inline-block;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 15px;
  }

  /* large devices (1024px and larger) */
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 34px;
    }

    #about-me .row h2 {
      text-align: left;
    }

    h3 {
      font-size: 26px;
    }

    h4 {
      font-size: 24px;
    }

    h5 {
      font-size: 22px;
    }

    #work {
      margin: 50px 0;
    }

    #work .row {
      margin: 60px 0;
    }

    .col-lg-5 {
      padding: 0;
      width: 41.66%;
      float: right;
    }

    .col-lg-6 {
      padding-right: 30px;
      width: 50%;
      float: left;
      display: block;
    }

    #about .col-lg-6 {
      padding-bottom: 15px;
      width: 100%;
      float: none;
      text-align: left;
    }

    #about-me .skills {
      margin-top: 20px;
    }

    #about-me .row .col-lg-7 {
      padding-left: 15px;
      padding-right: 70px;
      text-align: left;
    }

    .col-lg-7 {
      padding: 0;
      width: 58.33%;
      float: left;
      text-align: center;
      display: block;
    }

    .center.resume-button {
      text-align: left;
    }

    .image {
      margin: 30px 0;
    }

    .divider {
      margin: 40px 0;
    }
  }
}

/* CSS animation */
.berlin-illustration {
  width: 100%;
  max-width: 480px;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-name: color-change;
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-name: cloud-move;
  animation-direction: alternate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-name: cloud-move-reverse;
  animation-direction: alternate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
