/* colors used:
primary:
white (background, button text) : #ffffff;
black (text, button text): #2f2f2f;
grey (dividers): #f2f3f4;
blue (hero background, footer background): #2d3e50;

secondary:
yellow (button background): #ffdb5a;
hover over nav links: #008dd5;
hover over buttons : #ffd027;
*/
/* typography used:
primary:
h3,h4,h5,p,ul,ol,caption,buttons : Lato;

secondary:
h1,h2: Raleway;
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('../fonts/raleway-v28-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src:
    local(''),
    url('../fonts/lato-v23-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-300italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #2f2f2f;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #323232;
  background-color: inherit;
  text-align: center;
}

#index #hero h1 {
  color: #323232;
  background-color: inherit;
  font-weight: 600;
  text-align: center;
}

#impressum h1 {
  text-align: left;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: #323232;
  background-color: inherit;
  text-align: center;
}

footer h2 {
  color: #fff;
  background-color: inherit;
  text-align: center;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #323232;
  background-color: inherit;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: #323232;
  background-color: inherit;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #323232;
  background-color: inherit;
}

.project-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: #323232;
  text-decoration: none;
}

a:visited {
  color: #323232;
}

a:hover,
a:focus {
  color: #008dd5;
}

a:active {
  color: #2d3e50;
}

.back {
  padding: 0 0 15px 0;
  float: right;
}

.back a{
  color: #008dd5;
}

.button-project,
.button-testing,
.button-prototype {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2f2f2f;
  background-color: #ffdb5a;
  padding: 15px 30px;
  margin-top: 10px;
  border: 1px solid #ffdb5a;
  border-radius: 40px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.button-project:hover,
.button-project:focus,
.button-testing:hover,
.button-testing:focus,
.button-prototype:hover,
.button-prototype:focus {
  color: #323232;
  background-color: #ffdb5a;
  box-shadow: 2px 2px 8px 0 rgba(47, 47, 47, 0.3);
}

.button-project:active,
.button-testing:active,
.button-prototype:active {
  color: #323232;
}

.button-testing {
  margin: 10px 16px 10px 0;
}

.button-contact {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  padding: 12px 24px;
  border: 1px solid #ffdb5a;
  border-radius: 40px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.button-contact:hover,
.button-contact:focus {
  color: #323232;
  background-color: #ffdb5a;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.button-contact:active {
  color: #323232;
  background-color: #ffdb5a;
}

img {
  width: 100%;
}

/*
Layout styling
*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

main {
  padding-top: 75px;
}

.logo {
  max-width: 32px;
  padding-top: 16px;
}

.wrapper-logo {
  margin-top: 3px;
  display: inline-block;
}

header {
  color: inherit;
  background: #233445;
  opacity: 0.96;
  padding: 5px 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: #fff;
  background-color: inherit;
  text-transform: uppercase;
}

nav ul li a:visited {
  color: #fff;
  background-color: inherit;
}

nav ul li a:hover {
  color: #ffdb5a;
  background-color: inherit;
}

nav ul li a:active {
  color: #ffdb5a;
  background-color: inherit;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 29px;
  padding-right: 15px;
  color: #fff;
  background-color: inherit;
}

.navtoggle .icon .fa-times {
  display: none;
}

.navtoggle,
.navtoogleresponsive {
  position: relative;
}

.navtoggleresponsive nav {
  padding: 16px 0;
}

.navtoggleresponsive li {
  display: block;
  padding: 8px 0;
  font-size: 16px;
}

.navtoggleresponsive li:last-child {
  padding: 0;
}

.navtoggleresponsive a.icon {
  padding: 0;
}

.navtoggleresponsive .icon .fa-times {
  position: absolute;
  display: block;
  right: 0;
  top: 20px;
  font-size: 35px;
  padding-right: 30px;
  color: #fff;
  background-color: inherit;
}

.navtoggleresponsive .fa-bars {
  display: none;
}

#hero {
  color: #323232;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#index #hero {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#index #hero .container {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

#work .row {
  margin-top: 40px;
  margin-bottom: 10px;
}

#work .row .full-width {
  margin: 0 -15px;
}

footer {
  background: #233445;
  opacity: 0.96;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  padding: 0;
}

footer a:visited {
  color: #fff;
  background-color: inherit;
}

footer a:hover,
footer a:focus,
footer i:hover,
footer i:focus {
  color: #ffdb5a;
  background-color: inherit;
}

footer a:active,
footer i:active {
  color: #ffdb5a;
  background-color: inherit;
}

.icons {
  padding: 10px 0;
  margin: 0 auto;
}

.fab {
  color: #fff;
  background-color: inherit;
  font-size: 25px;
  max-width: 40px;
}

footer .fas {
  color: #fff;
  background-color: inherit;
  font-size: 25px;
  max-width: 30px;
}

.copyright {
  font-size: 12px;
  display: inline;
}

.center {
  text-align: center;
}

#contact .center {
  padding: 10px 0;
}

#about #hero {
  color: inherit;
  background: #fff;
  padding: 10px 0;
}

#about #hero .container {
  display: inline-block;
  width: 100%;
}

#about-me h2 {
  text-align: left;
  margin: 25px 5px 0 0;
  border-bottom: 4px solid #f7f8f9;
}

#about-me .skills {
  margin-top: 20px;
  margin-bottom: 27px;
}

#about-me .row {
  margin-top: 0;
}

.selfie-container {
  background-color: #f9f9f9;
  width: 100%;
}

.selfie {
  max-width: 1165px;
  margin: 0 auto;
  line-height: 0;
}

#expert .container {
  display: inline-block;
  width: 100%;
}

#expert #hero {
  margin: 0 auto;
  background-color: #f7f8fa;
  display: inline-block;
}

#expert img {
  margin-bottom: -8px;
}

.container-hero {
  margin: 0 auto;
}

.divider .container h2 {
  text-align: left;
  border-bottom: 4px solid #f7f8f9;
  margin: 20px 5px 0 0;
}

.mockups {
  margin: -25px 0;
}

.image {
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 0;
}

.image-users {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.prototype {
  padding-top: 10px;
  padding-bottom: 20px;
}

#worldup .container {
  display: inline-block;
  width: 100%;
}

#worldup #hero {
  color: inherit;
  background-color: #f7f8fa;
  padding: 0;
}

#worldup #hero .container-hero {
  padding-top: 0;
}

#expert h1 {
  margin-top: 20px;
  text-align: left;
}

#worldup h1 {
  margin-top: 20px;
  text-align: left;
}

.wrapper-learnings {
  max-width: 1200px;
  margin: 0 auto;
}

ul li {
  padding: 4px 0;
}

.wireframes img {
  margin: 20px 0;
}

#index .underline-index {
  border-bottom: 2px solid #fff;
}

#about .underline-about {
  border-bottom: 2px solid #fff;
}

.menu {
  max-width: 200px;
}

b {
  font-weight: 900;
}

/*
Layout styling End
*/
#impressum-content {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 5px;
}

.impressum {
  color: #fff;
  background-color: inherit;
  font-size: 12px;
  padding-right: 2px;
}

.impressum:visited {
  color: #fff;
  background-color: inherit;
}

.impressum:hover,
.impressum:focus {
  color: #ffdb5a;
  background-color: inherit;
}

.impressum:active {
  color: #ffdb5a;
  background-color: inherit;
  text-decoration: underline;
}

.design-thinking {
  padding: 20px 0;
}

.image-sitemap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0 15px;
}

.image-wireframes {
  padding: 0;
}

.image-numbers {
  max-width: 650px;
  padding: 10px 0;
}

.image-values {
  max-width: 260px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: -5px;
}

.image-process {
  max-width: 400px;
  margin-top: 30px;
}

.image-cartbefore {
  margin-left: -15px;
}

.image-system {
  max-width: 100%;
  margin: 0 -5px;
}

.survey {
  margin: 0 -5px;
}

.image-responsive {
  margin: 20px 0;
}

.gif {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px 0;
}

.project-type {
  font-style: italic;
  font-weight: 300;
}

.project-title {
  font-size: 22px;
  margin: 0;
  text-transform: capitalize;
}

.project-type {
  font-size: 16px;
  margin-bottom: 4px;
}

.project-description {
  font-size: 16px;
  margin-top: 8px;
}

.col-sm-4 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.row-project {
  margin: 30px 0;
}

.image-hidden {
  display: none;
}

.accordion {
  padding: 20px 0;
  width: 95%;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 0.5rem 0;
  position: relative;
  cursor: pointer;
  border-top: 2px solid #f7f8f9;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}

details summary:after {
  content: "+";
  color: #323232;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  margin: 0 0 1rem;
  padding-top: 1rem;
}

/* medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 26px;
  }

  #index h3 {
    margin: 0;
  }

  header {
    text-align: unset;
    padding: 5px 0;
    width: 100%;
    min-height: 80px;
  }

  header .container {
    display: block;
    width: 100%;
  }

  #expert header .container {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  #worldup header .container {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .logo {
    max-width: 35px;
    padding-top: 0;
  }

  .wrapper-logo {
    text-align: center;
    padding-top: 0;
    margin-top: 14px;
    float: left;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 2px;
    min-height: 68px;
  }

  nav ul {
    margin-top: 16px;
    min-height: 36px;
    padding-right: 15px;
  }

  nav ul li {
    display: inline-block;
    min-height: 36px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav ul li a {
    padding: 0 15px;
    font-size: 18px;
  }

  main {
    padding-top: 80px;
  }

  .col-md-6 {
    padding: 0 20px;
    width: 50%;
    float: left;
    display: table;
  }

  #index #hero {
    height: 150px;
  }

  #hero p {
    font-size: 18px;
  }

  #index #hero .container {
    padding-top: 30px;
  }

  #index .col-md-6 {
    padding-bottom: 40px;
  }

  #index .full-width {
    padding-right: 25px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #work {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #work .row {
    margin-top: 40px;
    margin-bottom: 0;
  }

  #work img {
    max-width: 580px;
  }

  #work img {
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  #work img:hover {
    color: #f0f0f0;
    box-shadow: rgba(149, 157, 165, 0.3) 0 4px 16px;
  }

  #work img:focus {
    color: #f0f0f0;
    box-shadow: rgba(149, 157, 165, 0.3) 0 4px 16px;
  }

  .menu {
    max-width: 300px;
    padding: 20px 0;
  }

  #about-me h3 {
    margin-top: 0;
  }

  #about .col-md-6 {
    padding-left: 0;
    padding-right: 80px;
  }

  .selfie {
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row-project li {
    font-size: 14px;
  }

  #expert .container-hero,
  #worldup .container-hero {
    max-width: 1220px;
    margin: 0 auto;
  }

  #expert .container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }

  #expert .wrapper,
  #worldup .wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  #expert .container p, h3, ul,
  #worldup .container p, h3, ul {
    max-width: 500px;
  }

  #about .wrapper p {
    max-width: 800px;
  }

  #expert h1 {
    margin-top: 20px;
    text-align: left;
  }

  #worldup h1 {
    margin-top: 20px;
    text-align: left;
  }

  .mockups {
    margin: -30px 0;
  }

  #worldup .container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }

  #expert nav ul {
    padding-right: 15px;
  }

  #worldup nav ul {
    padding-right: 15px;
  }

  .design-thinking {
    max-width: 650px;
  }

  .image-process {
    max-width: 460px;
    margin-top: 30px;
  }

  .image-cart {
    max-width: 960px;
  }

  .image-values {
    max-width: 1024px;
  }

  .image {
    padding: 15px 0 30px;
  }

  .image-system {
    max-width: 1280px;
    margin: 0 -20px;
  }

  .survey {
    margin: 0 -15px;
    max-width: 700px;
  }

  .image-responsive {
    margin: 20px 0px 20px -15px;
  }

  .image-wireframes {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
  }

  .image-portfolio {
    max-width: 700px;
  }

  .image-icons {
    max-width: 600px;
    margin: 30px 0;
  }

  #solution .col-md-6 {
    padding: 20px 20px 20px 0;
  }

  .gif {
    max-width: 420px;
    padding: 0;
    margin: 0 auto;
  }

  .left {
    max-width: 600px;
    margin: 0 auto;
    width: 50%;
    float: left;
    display: block;
  }

  .left::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-md-6-right {
    padding: 0 20px;
    width: 50%;
    float: right;
    display: table;
  }

  .col-md-6-right::after {
    content: "";
    clear: both;
    display: table;
  }

  .row-project {
    margin: 20px 0;
  }

  .project-info {
    padding-inline-start: 20px;
    margin-top: 5px;
  }

  .project-title {
    font-size: 22px;
  }

  .project-type {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .project-description {
    font-size: 16px;
    margin-top: 8px;
  }

  .col-sm-4 {
    padding: unset;
  }

  .accordion {
    width: 70%;
  }

  /* large devices (1024px and larger) */
  @media only screen and (min-width: 1024px) {
    body {
      font-size: 18px;
    }

    main {
      padding-top: 80px;
    }

    h1 {
      font-size: 32px;
    }

    #work h2,
    #contact h2 {
      font-size: 28px;
    }

    #about-me .row h2 {
      text-align: left;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 18px;
    }

    .logo {
      max-width: 40px;
      padding-top: 2px;
    }

    .wrapper-logo {
      padding-left: 0;
    }

    #index nav ul {
      padding-right: 30px;
    }

    #about nav ul {
      padding-right: 30px;
    }

    nav ul li a {
      font-size: 20px;
    }

    #expert h1 {
      margin-top: 30px;
      text-align: left;
    }

    #worldup h1 {
      margin-top: 30px;
      text-align: left;
    }

    #hero img {
      max-width: 100%;
    }

    #hero p {
      font-size: 22px;
    }

    #index #hero {
      height: 180px;
    }

    #index #hero .container {
      padding-top: 40px;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
    }

    #work {
      margin-top: 0px;
      margin-bottom: 10px;
    }

    #work .row {
      margin-top: 60px;
      margin-bottom: 0;
    }

    .col-lg-5 {
      padding-left: 20px;
      padding-right: 0;
      width: 41.66%;
      float: right;
    }

    .col-lg-6 {
      padding-right: 40px;
      width: 50%;
      float: left;
      display: block;
    }

    #index .col-lg-6 {
      padding-right: 40px;
      padding-bottom: 40px;
    }

    #solution .col-lg-6 {
      padding: 20px 40px 20px 0;
    }

    .gif {
      max-width: 420px;
      padding: 0;
      margin: 0 auto;
    }

    .left {
      padding-right: 40px;
      width: 50%;
      float: left;
      display: table;
    }

    #about .col-lg-6 {
      padding-bottom: 15px;
      width: 100%;
      float: none;
      text-align: left;
    }

    #about-me .skills {
      margin-top: 28px;
      margin-bottom: 26px;
    }

    #about-me .row .col-lg-7 {
      padding-left: 0;
      padding-right: 70px;
      text-align: left;
    }

    .col-lg-7 {
      padding: 0 20px;
      width: 58.33%;
      float: left;
      text-align: center;
      display: block;
    }

    #expert .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    #expert .container p, h3, ul,
    #worldup .container p, h3, ul {
      max-width: 700px;
    }

    #expert nav ul {
      padding-right: 30px;
    }

    #worldup nav ul {
      padding-right: 30px;
    }

    #worldup .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    #expert header .container {
      max-width: 1200px;
      display: block;
    }

    #worldup header .container {
      max-width: 1200px;
    }

    .divider .container h2 {
      margin-top: 30px;
    }

    .col-lg-2 {
      float: left;
      padding-right: 40px;
    }

    .col-lg-2::after {
      content: "";
      clear: both;
      display: table;
    }

    .row-project {
      margin: 50px 0;
    }

    .image {
      max-width: 100%;
      padding: 30px 0;
    }

    .image-system {
      max-width: 1280px;
      margin: 0 -25px;
    }

    .image-cartbefore {
      margin-left: -30px;
    }

    .survey {
      margin: 0 -15px;
    }

    .image-sitemap {
      max-width: 1500px;
      margin: 0 auto;
      padding: 30px 0;
    }

    .image-worldup {
      padding: 0;
    }

    .image-wireframes {
      max-width: 1480px;
      margin: 0 auto;
      padding: 10px 0;
    }

    .image-values {
      max-width: 1024px;
      margin-left: 0;
      padding-bottom: 60px;
    }

    .mockups {
      margin: -50px 0;
    }

    #impressum-content {
      padding-left: 15px;
    }

    .project-title {
      font-size: 24px;
    }

    .project-type {
      font-size: 18px;
      margin-bottom: 4px;
    }

    .project-description {
      font-size: 18px;
      margin-top: 8px;
    }

    footer p {
      font-size: 20px;
    }

    details summary {
      font-size: 18px;
    }

    /* extra large devices (1200px and larger) */
    @media only screen and (min-width: 1200px) {
      #index nav ul {
        padding-right: 30px;
      }

      #index #hero {
        height: 200px;
      }

      #index #hero .container {
        padding-top: 40px;
      }

      #work h2,
      #contact h2 {
        font-size: 30px;
      }

      #hero p {
        font-size: 22px;
      }

      .divider .container h2 {
        margin-top: 35px;
      }

      .col-lg-2 {
        float: left;
        padding-right: 60px;
      }

      .image-system {
        max-width: 1280px;
        margin: 0 auto;
      }

      .image-values {
        padding-top: 30px;
      }

      .accordion {
        width: 60%;
      }

      @media only screen and (min-width: 1440px) {
        #index #hero .container {
          padding-top: 40px;
        }
      }
    }
  }
}
