/* colors used:
white : #ffffff;
black: #2f2f2f;
grey: #f0f0f0;
yellow: #ffdb5a;
blue: #2d3e50;
hover over nav links: #008dd5
*/
/* typography used:
h1,h2: Raleway;
h3,h4,h5,p,ul,ol,caption,buttons: Lato;
*/
img {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  color: #2f2f2f;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
}

.project-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.125em;
}

p, ul, ol {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

i {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}

.nav {
  display: inline-block;
  color: #2f2f2f;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
}

.nav:visited {
  font-weight: 300;
}

.nav:hover, :focus {
  color: #008dd5;
  font-weight: 600;
}

.nav:active {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 600;
}

.button-project {
  text-decoration: none;
  background-color: #ffdb5a;
  color: #2f2f2f;
  font-family: 'Lato', sans-serif;
  padding: 8px 12px;
  border: 1px solid #ffdb5a;
  border-radius: 12px;
}

.button-project:visited {
  opacity: 0.6;
}

.button-project:hover, :focus {
  font-weight: 700;
  color: #2f2f2f;
}

.button-project:active {
  font-weight: 700;
  color: #2f2f2f;
}

.button-contact {
  text-decoration: none;
  background-color: #2d3e50;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 8px 12px;
  border: 1px solid #ffdb5a;
  border-radius: 12px;
}

.button-contact:visited {
  opacity: 0.6;
}

.button-contact:hover, :focus {
  text-decoration: none;
  background-color: #ffdb5a;
  color: #2f2f2f;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 8px 12px;
  border: 1px solid #ffdb5a;
  border-radius: 12px;
}

.button-contact:active {
  font-weight: 700;
}

.button-cv {
  text-decoration: none;
  background-color: #ffdb5a;
  color: #2f2f2f;
  font-family: 'Lato', sans-serif;
  padding: 8px 12px;
  border: 1px solid #ffdb5a;
  border-radius: 12px;
}

.button-cv:visited {
  opacity: 0.6;
  color: #2f2f2f;
}

.button-cv:hover, :focus {
  font-weight: 700;
  color: #2f2f2f;
}

.button-cv:active {
  font-weight: 700;
  color: #2f2f2f;
}
